---
// Footer component
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="container footer-container">
    <p class="footer-copyright">
      © <span id="current-year">{currentYear}</span> Seydou.CISSE | Designed with
      <i class="fa-solid fa-code"></i> and
      <i class="fa-solid fa-star" style="color: var(--orange);"></i>
      <i
        class="fa-solid fa-star"
        style="color: var(--orange); margin-bottom: -5px;"></i>
      <i class="fa-solid fa-star" style="color: var(--orange);"></i>
      in Abidjan, Côte d'Ivoire
    </p>
  </div>
</footer>
