---

---

<div class="flag-animation" id="flag-animation">
  <div class="flag">
    <div class="orange"></div>
    <div class="white"></div>
    <div class="green"></div>
  </div>
</div>

<script>
  document
    .getElementById("flag-animation")
    ?.addEventListener("click", function () {
      alert(
        "🇨🇮 Fun fact: Côte d'Ivoire (Ivory Coast) gained independence on August 7, 1960, and its capital city Yamoussoukro features the world's largest church building, the Basilica of Our Lady of Peace!"
      );
    });
</script>
